body{
    font-family: Overlock;
    font: cursive;
}
main{
    width: 90px;
    margin: auto;
}
h1{
    font-family: Carter One;
    font: cursive;
}
nav{
    display: flex;
    background-color: rgb(37, 36, 34);
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em ;
    margin-bottom: 1em;
}
nav a{
    text-decoration: none;
    color: rgb(235, 94, 40)
}
h4{
    margin: 0;
    font-size: 1em;
    text-align: center;
}

.Snacks article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}

.Snacks div{
    width: 150px;
    padding: 1em;
    background-color: rgb(255, 252, 242);
}

.Snacks img{
    width: 150px;
}

